<a href="https://colab.research.google.com/github/Viniciusalgueiro/Alura/blob/master/machine_learning_introducao_a_classificacao_com_sklearn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# features (1 sim, 0 nÃ£o)
# pelo longo?
# perna curta?
# faz auau?
porco1 = [0, 1, 0]
porco2 = [0, 1, 1]
porco3 = [1, 1, 0]

cachorro1 = [0, 1, 1]
cachorro2 = [1, 0, 1]
cachorro3 = [1, 1, 1]

# 1 => porco, 0 => cachorro
treino_x = [porco1, porco2, porco3, cachorro1, cachorro2, cachorro3]
treino_y = [1,1,1,0,0,0] #labels

In [4]:
from sklearn.svm import LinearSVC

model = LinearSVC()
model.fit(treino_x,treino_y)

LinearSVC(C=1.0, class_weight=None, dual=True, fit_intercept=True,
          intercept_scaling=1, loss='squared_hinge', max_iter=1000,
          multi_class='ovr', penalty='l2', random_state=None, tol=0.0001,
          verbose=0)

In [5]:
animal_misterioso = [1,1,1]
previsoes = model.predict([animal_misterioso])

In [9]:
animal_misterioso1 = [1,1,1] 
animal_misterioso2 = [1,1,0]
animal_misterioso3 = [0,1,1]
animal_misterioso4 = [1,0,1]
testes_x = [animal_misterioso1,animal_misterioso2,animal_misterioso3,animal_misterioso4]
testes_y = [0,1,1,0]
previsoes = model.predict(testes_x)

In [15]:

provisoes_corretas = (previsoes == testes_y).sum()
total = len(testes_x)
taxa_de_acertos = (provisoes_corretas/ total)

Taxa de acerto 75.00 %

In [16]:
from sklearn.metrics import accuracy_score

taxa_de_acertos2 = accuracy_score(testes_y, previsoes)
print("Taxa de acerto %.2f" % (taxa_de_acertos2*100 ),"%")

Taxa de acerto 75.00 %

In [17]:
import pandas as pd

uri = "https://gist.githubusercontent.com/guilhermesilveira/2d2efa37d66b6c84a722ea627a897ced/raw/10968b997d885cbded1c92938c7a9912ba41c615/tracking.csv"
dados = pd.read_csv(uri)
dados.head()

   home  how_it_works  contact  bought
0     1             1        0       0
1     1             1        0       0
2     1             1        0       0
3     1             1        0       0
4     1             1        0       0

In [21]:
mapa = {
    "home" : "principal",
    "how_it_works" : "como_funciona",
    "contact" : "contato",
    "bought" : "comprou"
}
dados = dados.rename(columns = mapa)

In [22]:
x = dados[["principal","como_funciona","contato"]]
x.head()

   principal  como_funciona  contato
0          1              1        0
1          1              1        0
2          1              1        0
3          1              1        0
4          1              1        0

In [23]:
y = dados["comprou"]
y.head()

0    0
1    0
2    0
3    0
4    0
Name: comprou, dtype: int64

In [25]:
treino_x = x[:75]
treino_y = y[:75]
teste_x = x[75:]
teste_y = y[75:]

print("Treinaremos com %d elementos e testaremos com %d elementos" % (len(treino_x), len(teste_x)))

Treinaremos com 75 elementos e testaremos com 24 elementos

In [26]:
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

In [27]:
modelo = LinearSVC()
modelo.fit(treino_x, treino_y)
previsoes = modelo.predict(teste_x)

acuracia = accuracy_score(teste_y, previsoes) * 100
print("A acurÃ¡cia foi %.2f%%" % acuracia)

A acurÃ¡cia foi 95.83%

Separando Treino e teste

In [41]:
from sklearn.model_selection import train_test_split 
SEED = 20

treino_x, teste_x, treino_y, teste_y = train_test_split(x,y,random_state = SEED,stratify =y, test_size =0.25)
print("Treinaremos com %d elementos e testaremos com %d elementos" % (len(treino_x), len(teste_x)))
modelo = LinearSVC()
modelo.fit(treino_x, treino_y)
previsoes = modelo.predict(teste_x)

acuracia = accuracy_score(teste_y, previsoes) * 100
print("A acurÃ¡cia foi %.2f%%" % acuracia)

Treinaremos com 74 elementos e testaremos com 25 elementos
A acurÃ¡cia foi 96.00%

In [43]:
teste_y.value_counts()

0    17
1     8
Name: comprou, dtype: int64

In [44]:
treino_y.value_counts()

0    49
1    25
Name: comprou, dtype: int64